
body{
    background-image: url("imagens-cap19/wallpaper001.jpg");
}

.quadrado{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid black;
    display: inline-block;
}

#q1{
    background-color: pink;
}

#q2{
    background-image: linear-gradient(to top , pink , magenta);
}

#q3{
    background-image: url("imagens-cap19/pattern003.png");
}